.Rproj.user
.Rhistory
.RData
.Ruserdata
00_basedata/001_data/*.xlsx
00_basedata/001_data/gshhg
00_basedata/001_data/mapasescaneados
01_analysis/0101_data
01_analysis/0130_checks/*.png
02_docu
03_results
